{% extends "base.html" %}
{% block title %} Almaden {% endblock %}
{% block content%}
<h1>Almaden</h1>
<div class="card">
  <img src="static/images/almadenlake.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Almaden Lake</h5>
    <p class="card-text">Enjoy this 1.4-mile loop trail near San Jose, California. Generally considered an easy route,
      it takes an average of 26 min to complete. This is a popular trail for fishing, road biking, and running, but you
      can still enjoy some solitude during quieter times of day. </p>
    <a href="/addalmaden" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}