{% extends "base.html" %}
{% block title %} Berry Creek Falls Loop {% endblock %}
{% block content%}
<h1>Berry Creek Falls Loop</h1>
<div class="card">
  <img src="static/images/berrycreek.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Berry Creek Falls Loop</h5>
    <p class="card-text">Berry Creek Falls is one of the most visited routes in Big Basin Redwoods State Park and for
      good reason. While the intensity of the falls varies depending on the time of year, these falls are beautiful and
      visit worthy year round! The area has an abundance of giant ferns, moss, and small streams as well as lots of
      local fauna.

      The moderately hard hike travels through the lush groves of old growth redwood trees and giant sequoias of the
      beautiful Santa Cruz mountains. The route also visits Silver Falls, Cascade Falls just a mile upstream as well as
      giving hikers a chance to see many species of butterflies during the right time of year! </p>
    <a href="/addberry" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}