{% extends "base.html" %}
{% block title %} Black Mountain {% endblock %}
{% block content%}
<h1>Black Mountain</h1>
<div class="card">
  <img src="static/images/blackmountain.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Black Mountain</h5>
    <p class="card-text">Head out on this 8.7-mile out-and-back trail near Idyllwild-Pine Cove, California. Generally
      considered a challenging route, it takes an average of 5 h 26 min to complete. This is a popular trail for hiking,
      but you can still enjoy some solitude during quieter times of day. The best times to visit this trail are May
      through December. </p>
    <a href="/addbmountain" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}