{% extends "base.html" %}
{% block title %} Dish {% endblock %}
{% block content%}
    <h1>Dish</h1>
    <div class="card">
        <img src="static/images/dish.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dish</h5>
          <p class="card-text">Discover this 3.7-mile loop trail near Stanford, California. Generally considered a moderately challenging route, it takes an average of 1 h 37 min to complete. This is a very popular area for running and walking, so you'll likely encounter other people while exploring. The trail is open year-round and is beautiful to visit anytime. </p>
          <a href="/adddish" class="btn btn-primary">Add Hike to Profile</a>
        </div>
      </div>
      
{% endblock %}