<html>
    <head>
        <meta charset="UTF-8">
        <title>My Website</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/stylegethiking.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg custom-navbar">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Get Hiking</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">See Friends</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Your Adventure So Far</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-auto">
                <input class="form-control mr-sm-2 custom-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>       

    </body>

</html>