{% extends "base.html" %}
{% block title %} Mission Peak {% endblock %}
{% block content%}
<h1>Mission Peak</h1>
<div class="card">
  <img src="static/images/missionpeak.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mission Peak</h5>
    <p class="card-text">Try this 5.8-mile loop trail near Milpitas, California. Generally considered a challenging
      route, it takes an average of 3 h 55 min to complete. This is a very popular area for camping, hiking, and
      horseback riding, so you'll likely encounter other people while exploring. The trail is open year-round and is
      beautiful to visit anytime.</p>
    <a href="/addmission" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}