{% extends "base.html" %}
{% block title %} Montara Mountain Loop {% endblock %}
{% block content%}
<h1>Montara Mountain Loop</h1>
<div class="card">
  <img src="static/images/montara.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Montara</h5>
    <p class="card-text">Discover this 3.3-mile loop trail near Montara, California. Generally considered a moderately
      challenging route, it takes an average of 1 h 43 min to complete. This is a very popular area for hiking and
      running, so you'll likely encounter other people while exploring. </p>
    <a href="/addmontara" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}