{% extends "base.html" %}
{% block title %} Purisma Creek {% endblock %}
{% block content%}
<h1>Purisma Creek</h1>
<div class="card">
  <img src="static/images/purismacreek.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Purisma Creek</h5>
    <p class="card-text">Purisima Creek Redwoods Open Space Preserve is located on the western slopes of the Santa Cruz
      Mountains overlooking Half Moon Bay. The centerpiece of this 5,412-acre preserve is Purisima Creek Canyon, with
      its towering redwoods, rushing creek, and understory of ferns, berries, and wildflowers. Magnificent views of the
      coast and Half Moon Bay are visible from the northern part of the preserve.</p>
    <a href="/addpurisma" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}