{% extends "base.html" %}
{% block title %} Russian Ridge {% endblock %}
{% block content%}
<h1>Russian Ridge</h1>
<div class="card">
  <img src="static/images/russianridge.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Russian Ridge</h5>
    <p class="card-text">Experience this 2.8-mile loop trail near La Honda, California. Generally considered an easy
      route, it takes an average of 1 h 17 min to complete. This is a very popular area for hiking, so you'll likely
      encounter other people while exploring.</p>
    <a href="/addridge" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}