{% extends "base.html" %}
{% block title %} Santa Teresa Mine Loop {% endblock %}
{% block content%}
<h1>Santa Teresa Mine Loop</h1>
<div class="card">
  <img src="static/images/santateresa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Santa Teresa Mine Loop</h5>
    <p class="card-text">Get to know this 1.9-mile loop trail near San Jose, California. Generally considered an easy
      route, it takes an average of 45 min to complete. This is a popular trail for hiking, running, and walking, but
      you can still enjoy some solitude during quieter times of day. </p>
    <a href="/addteresa" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}