{% extends "base.html" %}
{% block title %} SSaratoga Gap Trail {% endblock %}
{% block content%}
<h1>Saratoga Gap Trail</h1>
<div class="card">
  <img src="static/images/saratogagap.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Saratoga Gap Trail</h5>
    <p class="card-text">Head out on this 4.8-mile loop trail near Los Gatos, California. Generally considered a
      moderately challenging route, it takes an average of 2 h 28 min to complete. This trail is great for hiking and
      running, and it's unlikely you'll encounter many other people while exploring. The trail is open year-round and is
      beautiful to visit anytime. </p>
    <a href="/addsaratoga" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}