{% extends "base.html" %}
{% block title %} Sequoia Bayview Trail {% endblock %}
{% block content%}
<h1>Sequoia Bayview Trail</h1>
<div class="card">
  <img src="static/images/sequoiatrail.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sequoia Bayview Trail</h5>
    <p class="card-text">Discover this 3.0-mile out-and-back trail near Oakland, California. Generally considered an
      easy route, it takes an average of 1 h 6 min to complete. This is a very popular area for hiking, mountain biking,
      and running, so you'll likely encounter other people while exploring. The trail is open year-round and is
      beautiful to visit anytime. </p>
    <a href="/addsequoia" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}