{% extends "base.html" %}
{% block title %} Windy Hill {% endblock %}
{% block content%}
<h1>Windy Hill</h1>
<div class="card">
  <img src="static/images/windyhill.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Windy Hill Loop</h5>
    <p class="card-text">Check out this 6.4-mile loop trail near Portola Valley, California. Generally considered a
      moderately challenging route, it takes an average of 3 h 18 min to complete. This is a very popular area for
      birding, hiking, and running, so you'll likely encounter other people while exploring.</p>
    <a href="/addwindy" class="btn btn-primary">Add Hike to Profile</a>
  </div>
</div>

{% endblock %}